<footer class="footer-area section-gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-6 col-sm-6">
        <div class="single-footer-widget">
          <h4>Top Products</h4>
          <ul>
            <li><%= link_to "Managed Website", "#" %></li>
            <li><%= link_to "Manage Reputation", "#" %></li>
            <li><%= link_to "Power Tools", "#" %></li>
            <li><%= link_to "Marketing Service", "#" %></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-6">
        <div class="single-footer-widget">
          <h4>Quick links</h4>
          <ul>
            <li><%= link_to "Jobs", "#" %></li>
            <li><%= link_to "Brand Assets", "#" %></li>
            <li><%= link_to "Investor Relations", "#" %></li>
            <li><%= link_to "Terms of Service", "#" %></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-6">
        <div class="single-footer-widget">
          <h4>Features</h4>
          <ul>
            <li><%= link_to "Jobs", "#" %></li>
            <li><%= link_to "Brand Assets", "#" %></li>
            <li><%= link_to "Investor Relations", "#" %></li>
            <li><%= link_to "Terms of Service", "#" %></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-6">
        <div class="single-footer-widget">
          <h4>Resources</h4>
          <ul>
            <li><%= link_to "Guides", "#" %></li>
            <li><%= link_to "Research", "#" %></li>
            <li><%= link_to "Experts", "#" %></li>
            <li><%= link_to "Agencies", "#" %></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-bottom row align-items-center justify-content-between">
      <p class="footer-text m-0 col-lg-6 col-md-12">
        <i class="fa fa-heart-o" aria-hidden="true"></i>
        <%= link_to "Education", root_path %>
      </p>
      <div class="col-lg-6 col-sm-12 footer-social">
        <%= link_to "#" do %><i class="fa fa-facebook"></i><% end %>
        <%= link_to "#" do %><i class="fa fa-twitter"></i><% end %>
        <%= link_to "#" do %><i class="fa fa-dribbble"></i><% end %>
        <%= link_to "#" do %><i class="fa fa-behance"></i><% end %>
      </div>
    </div>
  </div>
</footer>
