<header id="header" id="home">
  <div class="header-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-sm-6 col-8 header-top-left no-padding">
          <ul>
            <li>
              <%= link_to "#" do %><i class="fa fa-facebook"></i><% end %>
            </li>
            <li>
              <%= link_to "#" do %><i class="fa fa-twitter"></i><% end %>
            </li>
            <li>
              <%= link_to "#" do %><i class="fa fa-dribbble"></i><% end %>
            </li>
            <li>
              <%= link_to "#" do %><i class="fa fa-behance"></i><% end %>
            </li>
          </ul>
        </div>
        <div class="col-lg-6 col-sm-6 col-4 header-top-right no-padding">
          <%= link_to "#" do %><span class="lnr lnr-phone-handset"></span>
            <span class="text">+953 012 3654 896</span>
          <% end %>
          <%= link_to "#" do %><span class="lnr lnr-envelope"></span>
            <span class="text">support@colorlib.com</span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="container main-menu">
    <div class="row align-items-center justify-content-between d-flex">
      <div id="logo">
        <%= link_to root_path do %><%= image_tag("logo.png") %><% end %>
      </div>
      <div>
        <%= form_with scope: :search do |f| %>
          <%= f.text_field :name, placeholder: t(".search"), type: "email",
            class: "search" %>
          <%= button_tag class: "btn btn-default genric-btn primary" do %>
            <span class="lnr lnr-magnifier"></span>
          <% end %>
          <div class="info"></div>
        <% end %>
      </div>
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li>
            <%= link_to t(".home"), "#" %>
          </li>
          <li>
            <%= link_to t(".about"), "#" %>
          </li>
          <li>
            <%= link_to t(".recruitment"), "#" %>
          </li>
          <li>
            <%= link_to t(".contact"), "#" %>
          </li>
          <li>
            <%= link_to t(".course"), "#" %>
          </li>
          <% if logged_in? %>
            <li class="menu-has-children">
              <%= link_to t(".logged_in_as"), "#" %>
              <ul>
                <li>
                  <%= link_to t(".profile"), "#" %>
                </li>
                <li>
                  <%= link_to t(".settings"), "#" %>
                </li>
                <% if current_user.trainee? %>
                  <li>
                    <%= link_to t(".owned_course"), "#" %>
                  </li>
                <% elsif current_user.trainer? %>
                  <li>
                    <%= link_to t(".teaching_course"), "#" %>
                  </li>
                <% end %>
              </ul>
            </li>
          <% else %>
            <li><%= link_to t(".signup"), signup_path %></li>
            <li><%= link_to t(".signin"), login_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
